@import "../Sponsors.module.scss";

.container {
  @include section;

  h2 {
    font-size: $font-size-3;
    color: $accent-yellow;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  margin: 2rem 0;
  @include desktop {
    margin: 2rem;
  }

  .video {
    @include desktop {
      width: 500px;
      height: 300px;
    }
  }

  h3 {
    font-size: $font-size-3;
    font-weight: lighter;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: $font-size-1;

    a {
      text-decoration: underline;
      color: $light-blue;
    }
  }
}
