@import "../../styles/styles.scss";

.tempContainer {
  min-height: 100vh;

  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.externalLink {
  color: $light-blue;
}

.container {
  background-color: $primary-dark;
  font-size: $font-size-1;

  margin: 1rem;

  .title {
    text-align: center;
    font-size: $font-size-5;
    padding-bottom: 4rem;
    color: $accent-yellow;
  }

  @include desktop {
    margin: 4rem 10%;
    min-height: 100vh;
  }

  .instructions {
    table {
      th:first-child,
      td:first-child {
        vertical-align:top;
        padding: 0 2.5rem;
        font-size: $font-size-3;
        color: $accent-yellow;
        font-weight: bold;
      }
    }
  }

  // remove default bullet, then unicode hack to get custom bullets
  ul {
    list-style: none;
    li::before {
      content: "\2022"; /* Unicode bullet symbol */
      color: $accent-yellow; /* Bullet color */

      /* Optional tweaks */
      font-weight: bold;
      font-size: $font-size-3;
      padding-right: 24px;
    }
  }

  ol {
    counter-reset: item;
    list-style: none;
    // display: table;

    li:before {
      content: counter(item) ". ";
      counter-increment: item;
      color: $accent-yellow; /* Bullet color */

      /* Optional tweaks */
      font-weight: bold;
      font-size: $font-size-3;
      padding-right: 24px;
    }
  }

  h2 {
    margin: 4rem 0 0 0;
    color: $accent-yellow;
    font-size: $font-size-3;
  }
}

.timetableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timetable {
  font-size: $font-size-1;
  @include desktop {
    padding: 2rem 2rem;
  }
  background-color: $primary-dark;

  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 1rem 2rem 1rem 0rem;
  }

  // the first selects the first column, the last two selectors collectively
  // target the second column in the table
  th:first-child,
  th:first-child + td,
  td:first-child {
    color: $light-blue;
    font-weight: normal;
  }

  th {
    vertical-align: top;
    text-align: left;
  }

  .bottomBorder {
    border-bottom: 1px solid $blue;
  }
}
