@import "../../styles/styles.scss";

.submission {
  background-color: transparent;
  font-size: $font-size-2;
  min-height: 100vh;
  z-index: 10;

  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.picture {
    text-align: center;
  img {
    max-width: 100%;
    width: 150px;
    height: auto;
  }
}

.text {
  text-align: center;
  background-image: url("../../assets/long-blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  padding: 3rem;
}
