@import "../../styles/styles.scss";

.date {

}

.title {

}

.subtitle {
  margin: 0 auto;
  width: 80%;
}

.highlight {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin: 0 auto;
  margin-top: 2rem;
}