@import "../../styles/styles.scss";

.date {
  display: inline-block;
  background-color: $galaxy-purple;
  font-size: $font-size-4;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 1rem;
}

.title {
  margin: 0;
  font-size: $font-size-7;
  font-weight: bold;
  color: $accent-orange;
}

.subtitle {
  margin: 0;
  font-size: $font-size-3;
}

.highlight {
  color: $accent-yellow;
  font-weight: bold;
}