@import "../Home.module.scss";

.schedule {
  @include section;
}

.satellite {
  @include remove-on-phone;
}

.content {
  display: flex;
}

.zoomLink {
  color: $light-blue;
}

.timetable {
  font-size: $font-size-1;
  @include desktop {
    padding: 2rem 2rem;
  }
  background-color: $primary-dark;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 1rem 2rem 1rem 0rem;
  }

  // the first selects the first column, the last two selectors collectively
  // target the second column in the table
  th:first-child, th:first-child + td, td:first-child {
    color: $light-blue;
    font-weight: normal;
  }

  th {
    // make FRIDAY, SATURDAY, etc. stick to the top left
    vertical-align: top;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid $blue;
  }
}


.buttons {
  padding: 0.5rem;
}

// buttons are uniform length here
.button {
  @include button;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  @include desktop {
    padding: 0.5rem 0.8rem;
  }
  margin: 0.5rem;
}

.selected {
  filter: brightness(60%);
  background-color: $accent-yellow;
  color: $primary-dark;
}
