@import "../Sponsors.module.scss";

.container {
  @include section;

  text-align: center;

  h2,
  h3 {
    margin: 0;
  }
}

.tierSeparator {
  margin: 2vh 20% 0;
  border-radius: 10px;
  height: 2px;
  background-color: $blue;
}

.title {
  font-size: $font-size-5;
  padding-bottom: 4rem;
  color: $accent-yellow;
}

.highlight {
  color: $accent-orange;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company {
  padding: 1rem;
  @include desktop {
    padding: 2rem;
  }

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

      width: 200px;
      height: 100px;

    img {
      width: 200px;
      max-width: 100%;
      max-height: 200px;
      height: auto;

      // width: auto;
      // max-width: 200px;
      // max-height: 100%;
      // height: 200px;
    }
  }

  font-weight: bold;

  .name {
    font-size: $font-size-2;
    margin-top: 1rem;
  }
}

.tier {
  // border-bottom: 1px solid $blue;
  padding: 2rem;

  .tierTitle {
    color: $light-blue;
    font-weight: lighter;
    font-size: $font-size-4;
    padding-bottom: 2rem;
  }
}

.interestedMessage {
  margin: 1rem;

  a {
    color: $light-blue;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $primary-white;
    }
  }
}
