
$light-blue: #c5feff;
$blue: #4177dd;

$galaxy-purple: #4844ae;
$dark-purple: #130676;

$header-background: #bfbfbf;

$accent-pink: #f06bea;
$accent-yellow: #ffc059;
$accent-orange: #fb6600;

// 2022

$background-dark: #100223;
$primary-dark: #1D152C;
$primary-white: #ffffff;

$light-purple: #B9BDF0;
$dark-purple: #949EF9;
$shadow-blue: #6183E7;
$accent-green: #AED450;
