@import "../Home.module.scss";

.rules {
  @include section;
}

.content {
  // on desktop need right margin to account for scroll component
  @include desktop {
    margin-right: 2rem 10rem 2rem 2rem;
  }
}

.table {
  background-color: $primary-dark;
  font-size: $font-size-1;
  border-collapse: collapse;

  tr>:first-child {
    color: $light-blue;
  }

  td {
    border-bottom: 1px solid $blue;
    padding: 0.8rem;
  }
}