@import "../../styles/styles.scss";

.schedule {
    background-color: $primary-dark;
    font-size: $font-size-2;
    height: 100vh;
    filter: brightness(50%);
    opacity: 50%;
    z-index: 10;
}

.rules {
    background-color: $primary-dark;
    font-size: $font-size-2;
    height: 100vh;
}

.home {
    background-color: $primary-dark;
    font-size: $font-size-2;
    height: 100vh;
}

.hero {
    position: absolute;
    left: 200px;
    bottom: 150px;
    z-index: 10;
}

.scroll {
    position: fixed;
    max-height: 30rem;
    max-width: 50rem;
    right: 100px;
    bottom: 70px;
    z-index: 20;
}

.rocket {
    position: absolute;
    right: 300px;
    bottom: 310px;
    z-index: 10;
}

.planet1 {
    position: absolute;
    right: -600px;
    bottom: -290px;
}

.planet2 {
    position: absolute;
}