@import "../../styles/styles.scss";

.schedule {
    background-color: $primary-darker;
    font-size: $font-size-2;
    height: 100vh;
}

.rules {
    background-color: $primary-dark;
    font-size: $font-size-2;
    height: 100vh;
}

.home {
    background-color: $primary-dark;
    font-size: $font-size-2;
    height: 100vh;
}

.hero {
    position: absolute;
    left: 200px;
    bottom: 150px;
}

.scroll {
    position: fixed;
    max-height: 30rem;
    max-width: 50rem;
    right: 100px;
    bottom: 100px;
}