@import "../../styles/styles.scss";

@mixin section {
  background-color: transparent;
  font-size: $font-size-2;
  min-height: 100vh;
}

// to be used to style a <button />
@mixin button {
  font-size: $font-size-1;
  border: 2px solid $accent-yellow;
  border-radius: 50px;
  margin: 0 1rem;
  padding: 0.5rem 3rem;
  background-color: $primary-dark;
  color: $primary-white;
  
  &:hover,
  &:focus {
    background-color: $accent-yellow;
    color: $primary-dark;
  }
}

@mixin darker {
  opacity: 50%;
  filter: brightness(50%);
  z-index: 10;
}

.schedule {
  @include section;
  @include darker;
}

.rules {
  @include section;
}

.space {
  z-index: 0;
}

.scroll {
  position: fixed;
  right: 100px;
  bottom: 20px;
  z-index: 20;
}
