@import "../../../styles/styles.scss";

.menu {
  @include desktop {
    display: none;
  }

  height: 100vh;
  padding: 3rem;

  // center links vertically, and text centered as well
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $primary-darker;

  // top left
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  // menu is slid in if not open
  transition: transform 0.1s ease-in-out;
  transform: translateX(100%);

  a {
    font-size: $font-size-1;
    border: 2px solid $accent-yellow;
    border-radius: 50px;
    margin: 2rem 0;
    padding: 0.3rem 1rem;
    color: $primary-white;
    text-align: center;
    
    &:hover,
    &:focus {
      background-color: $accent-yellow;
      color: $primary-dark;
    } 
  }
}

// if open, slide out
.open {
  transform: translateX(0);
}
