@import "../../../styles/styles.scss";

.menu {
  height: 100vh;
  padding: 4rem 2rem;

  // center links vertically, and text centered as well
  display: flex;
  flex-direction: column;
  // justify-content: center;
  text-align: center;
  background-color: #06030D;

  // top left
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  transition: transform 0.1s ease-in-out;

  // menu is slid in to the right if not open
  transform: translateX(100%);

  a {
    font-size: $font-size-1;
    // border: 2px solid $accent-yellow;
    border-radius: 50px;
    margin: 1rem 0;
    padding: 0.3rem 0rem;
    color: $primary-white;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $accent-yellow;
      color: $primary-dark;
    }
  }

  a.logoLink {

    &:hover,
    &:focus {
      color: $primary-dark;
      background-color: transparent;
    }
  }
}



// if open, slide out from the right: undo the original translateX
.open {
  transform: translateX(0);
}