@import "../Home.module.scss";

.resources {
  @include section;

  padding: 6rem;
}

.packs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px;

  margin: 4rem;
}

.pack {
  display: flex;
  flex-direction: column;

  font-size: $font-size-1;
  border: 2px solid $primary-white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 40px;
  background-color: $primary-dark;
}
