@import "../Home.module.scss";

.resources {
  @include section;

  padding: 6rem;
}

.packs {
  display: flex;
  justify-content: space-evenly;

  margin: 4rem 8rem 4rem 4rem;

  h3 {
    font-size: $font-size-5;
  }
  h4 {
    font-size: $font-size-1;
    font-weight: lighter;
  }
  h3,
  h4 {
    margin: 0;
  }
}

.pack {
  display: flex;
  flex-direction: column;

  font-size: $font-size-1;
  // border: 2px solid $primary-white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 40px;

  img {
    height: 200px;
    max-width: 100%;
    max-height: 300px;
    width: auto;
  }
}

.imgContainer {
  margin: 1rem;
}

.buttonContainer {
  // these two lines make the contained button stretch
  display: flex;
  flex-direction: column;
}

.button {
font-size: $font-size-1;
border: 2px solid $light-blue;
border-radius: 50px;
margin: 0 1rem;
padding: 0.5rem 3rem;
background-color: $primary-dark;
color: $primary-white;

&:hover,
&:focus {
  background-color: $light-blue;
  color: $primary-darker;
}
}