@import "../Home.module.scss";

.resources {
  @include section;
}

.packs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    margin: 0rem 8rem 0rem 4rem;
  }

}

.pack {
  display: flex;
  flex-direction: column;

  font-size: $font-size-1;

  margin-bottom: 2rem;
  @include desktop {
    padding: 2rem;
    margin: 2rem;
  }
  border-radius: 40px;

  h3 {
    font-size: $font-size-5;
    color: $accent-orange;
  }
  h4 {
    font-size: $font-size-1;
    font-weight: normal;
  }
  h3,
  h4 {
    margin: 0;
  }

  img {
    @include remove-on-phone;
    height: 200px;
    max-width: 100%;
    max-height: 300px;
    width: auto;
  }
}

.imgContainer {
  margin: 1rem;
  text-align: center;
}

.buttonContainer {
  // these following two lines make the contained button stretch
  display: flex;
  flex-direction: column;
}

.button {
  @include button;
}


.comingSoonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comingSoon {
  h2 {
    color: $primary-white;
    font-size: $font-size-2;
  }
  text-align: center;

  @include desktop {
    h2 {
      color: $primary-white;
      font-size: $font-size-4;
    }
    padding: 5rem;
    background-image: url("../../../assets/long-blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }
}
