@import "../../styles/styles.scss";

.scene {
  @include remove-on-phone;
}

.rocket {
  @include remove-on-short-screen;
  position: absolute;
  right: 300px;
  bottom: 310px;
}

.planet1 {
  position: absolute;
  right: 0px;
  bottom: -280px;
}

.planet2 {
  @include remove-on-short-screen;
  position: absolute;
}

@function multiple-box-shadow($n) {
  // hardcoded starfield width and height
  $value: "#{random(4000)}px #{random(8000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(4000)}px #{random(8000)}px #FFF";
  }
  @return unquote($value);
}

// number of stars and of what size
$shadows-small: multiple-box-shadow(2000);
$shadows-medium: multiple-box-shadow(1000);
$shadows-large: multiple-box-shadow(600);

// A rounded, white div casting a white shadow looks like a star
@mixin star {
  border-radius: 100%;
  background: $primary-white;
  box-shadow: -4px 0px 10px #ffffff, 0px -4px 10px #ffffff, 4px 0px 10px #ffffff,
    0px 4px 10px #ffffff;
}

.stars1 {
  @include star;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  box-shadow: $shadows-small;
}

.stars2 {
  @include star;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  box-shadow: $shadows-medium;
}

.stars3 {
  @include star;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  box-shadow: $shadows-large;
}

.star1 {
  @include star;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 558px;
  top: 121px;
}

.star2 {
  @include star;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 819px;
  top: 227px;
}

.star3 {
  @include star;

  // hide this if < 1400px, so no horizontal overflow for smaller screens
  display: none;
  @media (min-width: 1400px) {
    display: unset;
  }

  position: absolute;
  width: 27px;
  height: 27px;
  left: 1240px;
  top: 183px;
}

.star4 {
  @include star;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 100px;
  top: 360px;
}

.star5 {
  @include star;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 504px;
  top: 420px;
}

.star6 {
  @include star;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 782px;
  top: 400px;
}

.star7 {
  @include star;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 159px;
  top: 660px;
}

.star8 {
  @include star;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 888px;
  top: 520px;
}
