@import "../../styles/styles.scss";

@mixin section {
  background-color: transparent;
  font-size: $font-size-2;
  min-height: 100vh;

  padding: 1rem;
  @include desktop {
    padding: 2rem 12rem;
  }
}

.container {
  min-height: 100vh;

  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
