@import "../../styles/styles.scss";

.logo {
  display: flex;
  align-items: center;
  img {
    margin: 0 0.8rem;
  }
  .text {
    font-weight: bolder;
    font-size: $font-size-3;
    color: $accent-yellow;
  }
  .subtext {
    // make text and subtext vertically closer
    margin-top: -0.4rem;
    font-size: $font-size-0;
    color: $primary-white;
  }
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  background-color: $primary-darker;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: $font-size-2;
  padding: 1rem 12rem;

  // appears in front of other elements
  z-index: 20;
}

.links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  font-size: $font-size-1;
  margin: 0 1rem;
  padding: 0.5rem;
}

.button {
  font-size: $font-size-1;
  border: 2px solid $accent-yellow;
  border-radius: 50px;
  margin: 0 1rem;
  padding: 0.5rem 3rem;

  &:hover,
  &:focus {
    background-color: $accent-yellow;
    color: $primary-darker;
  }
}

.dropdownMenu {
  position: absolute;
  background-color: $primary-darker;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  ul {
    font-size: $font-size-1;
    list-style: none;
    margin: 0;
    padding: 1rem;
    li {
      padding: 0.2rem;
      div {
        display: flex;
        span {
          padding-left: 1rem;
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }
}
