@import "../../styles/styles.scss";

.footer {
  width: 100%;
  background-color: $primary-darker;

  // hack to make starfield appear behind the footer
  position: relative;
}

.links {
  padding: 2rem;
  @include desktop {
    margin: 0 8rem;
  }
  display: flex;
  justify-content: space-evenly;
  a {
    font-size: $font-size-6;
  }
}
