@import "../Home.module.scss";

.about {
  @include section;

  padding: 6rem;
}

.highlight {
  color: $accent-orange;
}

.content {
  margin-top: 5rem;
  line-height: 2.5rem;
  margin-right: 14rem;
}