@import "../Home.module.scss";

.about {
  @include section;

  h2 {
    font-size: $font-size-5;
    color: $primary-white;
  }
}

.highlight1 {
  color: $accent-yellow;
  font-weight: bold;
}

.content {
  background-color: $primary-dark;
  font-size: $font-size-2;
  line-height: 2.5rem;
  margin: 0;

  @include desktop {
    margin-top: 5rem;
    margin-right: 14rem;
  }
}