@import '../../styles/styles.scss';

.navigationBar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $primary-darker;
    font-size: $font-size-2;
    padding: 1rem 12rem 1rem 12rem;
}