@import "../Home.module.scss";

.title {
  @include section;
}

.hero {
  padding-top: 5rem;
  @include desktop {
    padding-top: 0;
    position: absolute;
    left: 10rem;
    bottom: 6rem;
  }
}

.logo {
  display: none;
  @include desktop {
    @include tall-screen {
      display: unset;
    }
  }
  position: absolute;
  right: 100px;
  top: 120px;
}