@import "../Home.module.scss";

.title {
  @include section;
}

.hero {
  @include desktop {
    position: absolute;
    left: 200px;
    bottom: 150px;
  }
}

.logo {
  @include remove-on-phone;
  position: absolute;
  right: 100px;
  top: 120px;
}