@import "../Home.module.scss";

.title {
  @include section;
}

.hero {
  text-align: center;
  min-height: 70vh;
  margin-top: 25vh;
  @include desktop {
    padding-top: 0;
  }
}

.logo {
  display: none;
  @include desktop {
    @include tall-screen {
      display: unset;
    }
  }
  position: absolute;
  right: 100px;
  top: 120px;
}